img{
    width: 100px
}

.weather-container{
    background-color:#656869;
    margin: 0px
}
#temp, #weather, #humidity, #error{
    font-size: 30px;
    font-weight: bold;
    margin: 0px;
    color: #e6e6fa
}